version: '3'
services:
  php_apache:
    container_name: php_apache
    build: 
      context: .
      # a partir de una imagen personalizada con mysqli instalado
      dockerfile: php_apache.Dockerfile
    ports:
      - 80:80
    volumes:
      # montamos el archivo de configuracion en el que cambiamos el document root de apache
      - ./configuracion/000-default.conf:/etc/apache2/sites-available/000-default.conf
      - ./web:/var/www/web
      - ./configuracion/xdebug_configuracion.ini:/usr/local/etc/php/conf.d/xdebug_configuracion.ini
      - sesion_php:/tmp



volumes:
  sesion_php: