RewriteEngine on

#comprueba que el recurso que se le pasa por la url no es un file ni un directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#redirige a index.php
RewriteRule ^(.*)$  /index.php [QSA]